---
export interface Props {
    title: string,
    src: string,
    source: string,
    alt: string
}

const { title, alt, src, source } = Astro.props
---
    <div>
        <div class="image">
            <img src={src} alt={alt} class="article-image" />
            <div>
                {title}
                {source && <span>| <a href="source" target="_blank" rel="noopener noreferrer">source</a></span>}
            </div>
        </div>
    </div>
  
<style>
.image {
    margin: 15px auto 30px auto;
    text-align: center;
    color: #a7a9b1;;

}

img {
    border-radius: 4px;
    margin: 0 auto 5px auto;
}

a {
    color: #94d32e;
    border-bottom: 2px solid transparent;
    transition: 0.15s;

}

a:hover {
    border-bottom: 2px solid #94d32e;
}
</style>