---
export interface Props {
    next: number;
}
const next = Astro.props.next;
---

<div class="w-full flex flex-row-reverse">
    <div class="lg:grid grid-cols-[120px_672px] gap-4 w-full">
        <div></div>
        <div>
            <a
                href={`${import.meta.env.BASE_URL}page/${next}`}
                class="text-l-a flex space-x-2 items-center border-b border-transparent hover:border-l-a3 transition w-fit"
            >
                <span>Next Page</span>
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 48 48"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5 stroke-l-a fill-l-a"
                    ><path
                        d="M4.00004 24.0007c-.00016-.2627.05146-.5229.15191-.7656.10045-.2427.24776-.4632.43351-.649.18574-.1857.40628-.333.649-.4335.24272-.1004.50286-.1521.76555-.1519H37.1719l-10.586-10.586c-.1857-.1857-.333-.4061-.4335-.6488-.1005-.2426-.1522-.5026-.1522-.7653 0-.26257.0517-.52262.1522-.76525s.2478-.46308.4335-.64878c.1857-.1857.4062-.33301.6488-.43351a1.999805 1.999805 0 011.5306 0c.2426.1005.4631.24781.6488.43351L43.414 22.5866c.1858.1857.3332.4061.4337.6487.1005.2427.1523.5027.1523.7654 0 .2626-.0518.5227-.1523.7653-.1005.2426-.2479.463-.4337.6487L29.4141 39.4148c-.3751.375-.8837.5857-1.4141.5857-.5304 0-1.0391-.2107-1.4141-.5857-.375-.3751-.5857-.8837-.5857-1.4141 0-.5304.2107-1.0391.5857-1.4141l10.586-10.586H6.00001a1.997086 1.997086 0 01-.76555-.1519 1.996976 1.996976 0 01-.649-.4335c-.18575-.1857-.33306-.4063-.43351-.649a1.998793 1.998793 0 01-.15191-.7655z"
                    ></path>
                </svg>
            </a>
        </div>
    </div>
</div>
