---
export interface Props {
    next: number;
}
const next = Astro.props.next;
---

<div class="w-full flex">
    <div class="w-1/5"></div>
    <div class="4/5">
        <a
            href={`${import.meta.env.BASE_URL}page/${next}`}
            class="text-l-a"
        >
            <span>Next Page</span>
        </a>
    </div>
</div>
