---
import { CollectionEntry, getEntryBySlug } from "astro:content";

export interface Props {
    changelog: CollectionEntry<"changelog">;
}

const { changelog } = Astro.props;

const author = await getEntryBySlug("author", changelog.data.author.id);
---

<div class="changelog">
    <div class="flex border-b border-l-g-7 pb-5">
        <div class="w-1/5 h-full text-l-g-7 mt-16">
            <p>{new Date(changelog.data.date).toDateString()}</p>
        </div>
        <div class="w-4/5">
            <img
            class="rounded-xl cover mt-16"
            src={import.meta.env.BASE_URL + changelog.data.cover}
            alt="Cover for Changelog"
        />
            <slot />
        </div>
    </div>
</div>

<style>
    .changelog :global(h2) {
        margin: 3rem 0 1.5rem;
        font-size: 1.4rem;
        color: #ffffff;
        font-weight: 600;
    }

    .changelog :global(h3) {
        margin: 1.5rem 0 1rem;
        font-size: 1.4rem;
        color: #ffffff;
        font-weight: 600;
    }

    .changelog :global(p) {
        margin: 0 0 20px;
        font-size: 1rem;
        color: #a7a9b1;
    }

    .changelog :global(a) {
        text-decoration: none;
        color: #94d32e;
        border-bottom: 2px solid transparent;
        transition: 0.15s;
    }

    .changelog :global(ul) {
        list-style-type: circle;
        margin: 0 0 30px;
        padding: 0;
        color: #a7a9b1;
    }

    .changelog :global(li) {
        font-size: 1rem;
        margin: 5px 60px;
    }

    .changelog :global(code) {
        color: #5577eb;
        background: #f6f7fb;
        padding: 2px 4px;
        border-radius: 4px;
        font-size: 0.9rem;
        font-family: "Monaco", monospace;
    }

    .changelog :global(a:hover) {
        border-bottom: 2px solid #94d32e;
    }

    .cover {
        width: 100%;
        max-height: 580px;
        object-fit: cover;
    }
</style>
