---
export interface Props {
	title: string;
}
import Header from "../components/header.astro";
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col justify-between min-h-screen">
		<Header />

		<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
			<div class="mx-auto max-w-2xl">
				<main
					class="grid min-h-full place-items-center px-6 py-6 sm:py-16 lg:px-8"
				>
					<div class="text-center">
						<a href={import.meta.env.BASE_URL}>
							<h1
								class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
							>
								Changelog
							</h1>
							<p class="mt-6 text-base leading-7 text-gray-600">
								Shipped every friday, and most other days of the
								week too
							</p>
						</a>
					</div>
				</main>
				<slot />
			</div>
		</div>
		<Footer />
	</body>
	
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
